<h2>All talks</h2>

<div id="talks">
  <% if talks.any? %>
    <% talks.each_slice(3).each do |three_talks| %>
      <div class="row">
      <% three_talks.each do |talk| %>
          <div class="col-sm-4">
            <div class="talk panel panel-info">
              <div class="panel-heading">
                <h4><%= talk.title %></h4>
              </div>
              <div class="panel-body">
                <p>By <%= talk.author %></p>
                <%= talk.embed %>
              </div>
            </div>
          </div>
      <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="placeholder">No talks yet :(</p>
  <% end %>
</div>
