<!doctype HTML>
<html>
  <head>
    <title>RubyTalks</title>
    <%= javascript 'javascripts/bootstrap.min' %>
    <%= stylesheet 'stylesheets/bootstrap.min' %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-top">
      <a href="#" class="navbar-brand">RubyTalks</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
